/* #marquee{
    color:black;
}
.offers{
    width: 100%;
} */
html{
    scroll-behavior: smooth;
}
input:focus{
    outline: none;
}
.main{
    float: right;
}
.logo{
height: 70px;
width: 180px;

}
.img1{
    height: 480px;
    width: 100%;
    box-shadow: 0 0  15px black;
}
.productCard1,.productCard2,.girlsCollection,.boysCollection,.winterCollection,.SummerCollection,.kidsCollection{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}
.productCard2{
    margin-top: 10px;
}
.cards{
    width: 150px;
    height: 300px;
    /* border: 1px solid rgba(114, 109, 109, 0.842); */
    border: 2px solid black;
    border-radius:10px ;
    padding: 5px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    box-shadow: 0 0  15px black;

}
.cards:hover{
    box-shadow: 0 0  20px black;
}
.btnall{
    height: 35px;
    width: 100px;
    border: 1px solid white;
    border-radius: 20px;   
}
.hr1{
   border: 2px solid white;
}
.information{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img2,.img3{
    height: 100%;
    width: 100%;
} 
.icon1{
    font-size: 30px;
    color: green;
}
.icon2{
    font-size: 25px;   
color: yellow;
}
.foter2{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}
.foter1,.foter3{
    width: 360px;
    height: 300px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 700px) {
    .foter1,.foter3 {
        display: none;
    }
  }


#inpSection{
    display: none;
}
.carded{
    width: 150px;
    height: 250px;
    /* border: 2px solid rgba(114, 109, 109, 0.842); */
    border: 2px solid black;
    border-radius:10px ;
    padding: 5px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    box-shadow: 0 0  15px black;
}

.inpSection{
    height: 642px;
    width: 300px;
border: 2px solid black;
    margin-top: 10px;
    box-shadow: 0 0  30px black;
    border-radius: 20px;
}
#logo{
    margin-top: 5px;
}
#name{
    margin-top: 10px;
}
input{
    border: none;
    border-bottom: 2px solid black;
    width: 270px;
}
.btnorder{
    height: 40px;
    width: 100px;
    font-size: 25px;
    border: 2px solid black;
    box-shadow: 0 0  10px black;
    border-radius: 7px;
    color: black;
}
::placeholder{
    font-size: 20px;
}
.fa-solid{
    font-size: 40px;
    margin-top: 5px;
    color: black;
}
@media only screen and (max-width: 700px) {
    .img1 {
        height: 480px;
        width: 100%;
        box-shadow: 0 0  15px black;
    }
  }

  @media only screen and (max-width: 699px) {
    .img1 {
        height: 280px;
        width: 100%;
        box-shadow: 0 0  15px black;
    }
  }

















